/* You can add global styles to this file, and also import other style files */

#bookedDate_id{
    width:150px;
}

.form-control.is-invalid, .was-validated .form-control:invalid {
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
  background-image: none;
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
  /*
.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948; 
}

.ng-invalid:not(form):not(.ng-pristine) {
  border-color: #dc3545;
   
}

.alert div {
  background-color: #fed3d3;
  color: #820000;
  padding: 1rem;
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: .5rem;
}

select {
  width: 100%;
  padding: .5rem;
}
    */
